

<div class="ui-lg-12 ui-md-12 ui-sm-12 d-flex">
    <div class="ui-lg-6 ui-md-6 ui-sm-6 header-info-holder">
        <button mat-icon-button (click)="sidenavToggle()" >
            <mat-icon>menu</mat-icon>
        </button>

        <span>
            <img style="width: 20px; height: 20px;"
            src="../../assets/images/logo.jpeg"
            alt="SSO Login Image" />
        </span>
    </div>
    <div class="ui-lg-6 ui-md-6 ui-sm-6 flex-end header-info-holder">
        <span style="font-weight: 500;font-size: 18px;">
            Welcome Harshal!
        </span>
        <button mat-icon-button (click)="signOut()" >
            <mat-icon>logout</mat-icon>
        </button>
    </div>

</div>

