<div class="ui-g" style="height: 87vh;position: relative;">
    <div class="ui-lg-12 ui-md-12 ui-g-12" style="padding: 1.25%; padding-bottom: 0; height: 99%;">
        <ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-scale-multiple"
            [fullScreen]="true">
            <p style="color: white"> Loading... </p>
        </ngx-spinner>

        <div class="ui-lg-12 ui-md-12 ui-g-12 h-100">
            <mat-card class="ui-lg-12 ui-md-12 ui-sm-12 app-card h-100">
                <div class="ui-lg-12 ui-md-12 ui-sm-12 p-0 ui-grid-responsive" style="height: 90%;" 
                [ngStyle]="{'height': selectedIndex === 0 ? '90%' : '100%'}">
                    <mat-tab-group class="h-100" [(selectedIndex)]="selectedIndex"
                    (selectedTabChange)="onChangeTab($event)">
                        <mat-tab label="Agreement Details" class="h-100"><app-main></app-main></mat-tab>
                        <mat-tab label="List of Documents" class="h-100"> <app-files></app-files></mat-tab>
                        <mat-tab label="Transaction History" class="h-100"> <app-contract-vendors-trans-history></app-contract-vendors-trans-history> </mat-tab>
                    </mat-tab-group>
                    <!-- <div class="ui-grid-col-6 ">
        <div class="ui-lg-12 ui-md-12 ui-sm-12">
            <form [formGroup]="contractForm" >

                <div class="ui-lg-12 ui-md-12 ui-g-12  ui-sm-12">
                    <mat-form-field class="w-90">
    
                        <input matInput formControlName="contractName" required placeholder="Name of Work">
    
                    </mat-form-field>
                </div>
    
    
                <div class="ui-lg-6 ui-md-6 ui-g-6 ui-sm-12">
    
                    <mat-form-field class="w-80">
                        <input matInput 
                          placeholder="LOA Date"
                          formControlName="startDate" required [matDatepicker]="startDate"  >
                        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                        <mat-datepicker #startDate></mat-datepicker>
                      </mat-form-field>
                </div>
    
                <div class="ui-lg-6 ui-md-6 ui-g-6 ui-sm-12">
                    <mat-form-field class="w-80">
                        <input matInput 
                          placeholder="End Date"
                          formControlName="endDate" required [matDatepicker]="endDate"  >
                        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                        <mat-datepicker #endDate></mat-datepicker>
                      </mat-form-field>
                </div>
    
                <div class="ui-lg-6 ui-md-6 ui-g-6 ui-sm-12">
                    <mat-form-field class="w-80">
    
                        <input matInput formControlName="location" required placeholder="Location">
    
                    </mat-form-field>
                </div>
    
                <div class="ui-lg-6 ui-md-6 ui-g-6 ui-sm-12">
                    <mat-form-field class="w-80">
    
                        <input matInput formControlName="budget" required placeholder="CA Value">
    
                    </mat-form-field>
                </div>
    
                <div class="ui-lg-6 ui-md-6 ui-g-6 ui-sm-12">
                    <mat-form-field class="w-80">
                      <mat-select appRoleOptionAttribute role="listbox" formControlName="status" required
                        placeholder="Status">
                        <mat-option role="option"  value="ACT">
                          On Going
                        </mat-option>
                        <mat-option role="option"  value="CMP">
                            Finalised
                          </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
    
                <div class="ui-lg-6 ui-md-6 ui-g-6 ui-sm-12">
                    <mat-form-field class="w-80">
    
                        <input matInput formControlName="description"  placeholder="Description">
    
                    </mat-form-field>
                </div>
                
            </form>
        </div>
    </div>

    <div class="ui-grid-col-6">

        there
  </div> -->

                </div>

                <div class="ui-lg-12 ui-md-12 ui-sm-12 p-0 ui-grid-responsive" style="height: 10%;" *ngIf="selectedIndex === 0">
                    <div class="ui-lg-12 ui-md-12 ui-g-12 flex-end pb-20" mat-dialog-actions>
                        <span style="margin-right: 2%;">
                            <button (click)="onSave()" mat-raised-button color="primary"
                                [disabled]="!contractForm.valid" class="save-btn add-btn-agreements save-btn-color">
                                save
                            </button>
                        </span>
                    </div>
                </div>

            </mat-card>
        </div>
    </div>
</div>